@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F5F5F5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes marquee {
  0% { transform: translate(0); }
  100% { transform: translate(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-0.1);
  }
  50% {
    transform: translateY(-25px); /* Adjust the distance as needed */
  }
}

.bounce-animation {
  animation: bounce 1.2s infinite;
}

.auth-input{
  @apply w-full px-4 py-2 border border-gray-300 rounded-md text-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent
}